{% extends "match/base.html" %}{% block content %}

<h1 style="text-align:center;">This is the match creation page</h1>
<h3 style="text-align:center;">Enter one only</h3>
<h3 style="text-align:center;">When you are ready type 'stop'</h3>
{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}
<form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Submit</button>
</form>
{% endblock %}
